<style>

</style>

<main class="container-fluid">

  <!-- Navbar -->
  <app-navbar></app-navbar>
  <!-- Navbar -->

  <div class="col-12 text-end">
    <a class="btn btn-success" [routerLink]="['/add']">Add New Task</a>
  </div>

  <!-- Tasks List -->
   <div class="col-12 mt-5 mb-5">
    <h3>All Tasks</h3>
   </div>
<!-- Tasks List -->
  <div class="col-12 mt-5 mb-5">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col">Description</th>
          <th scope="col">Status</th>
          <th scope="col">Update</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <tr *ngFor="let task of allTasks">
          <th scope="row">1</th>
          <td>{{task.title}}</td>
          <td>{{task.description}}</td>
          <td>{{task.status == "1" ? "Complete" : "Incomplete"}}</td>
          <td><button type="button" class="btn btn-primary"  [routerLink]="['/update',task.id]">Edit</button></td>
          <td><button type="button" class="btn btn-danger" (click)="onDelete(task.id)">Delete</button></td>
        </tr>
        
      </tbody>
    </table>
  </div>
  <!-- Tasks List -->
</main>
