<style>

</style>

<main class="container-fluid">

  <div class="col-12 mt-5 mb-5">
    <h2>My Task Management Application</h2>
  </div>

  <!-- Add Tasks According -->
  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
          aria-expanded="false" aria-controls="collapseTwo">
          Click To Add New Tasks
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <!-- Tilte -->
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Title</label>
            <input type="email" class="form-control" id="Title" placeholder="Task Name">
          </div>
          <!-- Tilte -->
          <!-- Description -->
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Description</label>
            <textarea class="form-control" id="Description" rows="3"></textarea>
          </div>
          <!-- Description -->
           <div class="col-12 mt-3 mb-3">
            <td><button type="button" class="btn btn-primary">Save</button></td>
           </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Add Tasks According -->
   <div class="col-12 mt-5 mb-5">
    <h3>All Tasks</h3>
   </div>
<!-- Tasks List -->
  <div class="col-12 mt-5 mb-5">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col">Description</th>
          <th scope="col">Status</th>
          <th scope="col">Update</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>mdo</td>
          <td><button type="button" class="btn btn-primary">Edit</button></td>
          <td><button type="button" class="btn btn-danger">Delete</button></td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>fat</td>
          <td><button type="button" class="btn btn-primary">Edit</button></td>
          <td><button type="button" class="btn btn-danger">Delete</button></td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Larry the Bird</td>
          <td>twitter</td>
          <td>twitter</td>
          <td><button type="button" class="btn btn-primary">Edit</button></td>
          <td><button type="button" class="btn btn-danger">Delete</button></td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- Tasks List -->
</main>
